<div _ngcontent-wkk-c2="" class="footerArea2">
    <div _ngcontent-wkk-c2="" class="container footer">
        <div _ngcontent-wkk-c2="" class="logo_footer">
            <div _ngcontent-wkk-c2="" class="menu_footer_"><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/home" tabindex="0" ng-reflect-router-link="/home">หน้าหลัก</span><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/page/register" tabindex="0" ng-reflect-router-link="/page/register">สมัครสมาชิก</span><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/page/deposit" tabindex="0" ng-reflect-router-link="/page/deposit">ฝาก</span>
                <div _ngcontent-wkk-c2="" class="space"> </div><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/page/withdraw" tabindex="0" ng-reflect-router-link="/page/withdraw">ถอน</span><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/page/agent" tabindex="0" ng-reflect-router-link="/page/agent">สมัครเอเย่นต์</span><span _ngcontent-wkk-c2="" class="links_footer" routerLink="/page/contact" tabindex="0" ng-reflect-router-link="/page/contact">ติดต่อเรา</span></div>
        </div>
    </div>
</div>

<div _ngcontent-wkk-c2="" class="footerArea3">
    <div _ngcontent-wkk-c2="" class="container">
        <div _ngcontent-wkk-c2="" id="centerDiv3"> Copyright 2018 © premier999.com All Rights Reserved. </div>
        <div _ngcontent-wkk-c2="" id="centerDiv3" style="font-size: 10px;"> การเงินมั่นคง ฝาก-ถอน ออนไลน์รวดเร็วภายใน 5 นาที </div>
    </div>
</div>