<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" >
    <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
    <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>


<div _ngcontent-wsy-c3="" class="">
    <div _ngcontent-wsy-c3="" class="container" style="background: unset;">
        <div _ngcontent-wsy-c3="" class="header_bar"><img _ngcontent-wsy-c3="" src="/assets/images/header/header_bar.png"></div>
    </div>
    <div _ngcontent-wsy-c3="" class="container">
        <div _ngcontent-wsy-c3="" class="row sport_button">
            <div _ngcontent-wsy-c3="" class="col no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-once="true" style="overflow: hidden; ">
                <div _ngcontent-wsy-c3="" class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-wsy-c3="" class="tt_img_df" src="assets/images/content/step_1.jpg"></div>
            </div>
            <div _ngcontent-wsy-c3="" class="col no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-once="true" style="overflow: hidden; ">
                <div _ngcontent-wsy-c3="" class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-wsy-c3="" class="tt_img_df" src="assets/images/content/step_2.jpg"></div>
            </div>
            <div _ngcontent-wsy-c3="" class="col no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="400" data-aos-once="true" style="overflow: hidden; ">
                <div _ngcontent-wsy-c3="" class="live_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-wsy-c3="" class="tt_img_df" src="assets/images/content/step_3.jpg"></div>
            </div>
            <div _ngcontent-wsy-c3="" class="col no-padding top_banner aos-init aos-animate" data-aos="fade-right" data-aos-delay="500" data-aos-once="true" style="overflow: hidden; ">
                <div _ngcontent-wsy-c3="" class="live_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img _ngcontent-wsy-c3="" class="tt_img_df" src="assets/images/content/step_4.jpg"></div>
            </div>
        </div>
        <div _ngcontent-wsy-c3="" class="content_area">
            <div _ngcontent-wsy-c3="" class="content_header">&nbsp;</div>
            <div _ngcontent-wsy-c3="" class="content_text">รวดเร็ว ทันใจ ปลอดภัย 24 ชั่วโมง</div>
            <div _ngcontent-wsy-c3="" class="LR_area">
                <div _ngcontent-wsy-c3="" class="detail_Left"><img _ngcontent-wsy-c3="" src="assets/images/content/banne_contactr.png"></div>
                <div _ngcontent-wsy-c3="" class="detail_Right"> แทงบอลออนไลน์ รูปแบบใหม่ไม่ผ่านเอเย่นต์และให้ราคาน้ำดีที่สุด เปิดบอลให้เล่นเยอะที่สุด มีทั้งบอลเดี่ยว บอลเต็ง บอลชุด บอลสเต็ป แทงบอล Live แทงสเต็ป Live แทงบอลราคาพูลแบบต่างประเทศ พร้อมทั้งรับเดิมพันคาสิโนทุกประเภท สามารถเปิดให้บริการยูสเซอร์โดยไม่ต้องผ่านนายหน้า ทำให้ลูกค้ามั่นใจได้ว่าจะได้ค่าคอมมิชชั่นสูงสุดแน่นอน มีการ เดิมพันที่หลากหลายไม่ว่าจะเป็นฟุตบอล บาสเก็ตบอล เบสบอล เทนนิสไก่ชนและเกมส์ชั้นนำระดับโลกอีกมากมายจาก SAGame , ViVo Game ที่เราได้ยกมาให้ลูกค้าทุกท่านได้เลือกเดิมพันและสนุกกันอีกทั้งด้านบริการต่างๆ เรามีทีมงาน บริการ Call Center ที่ใส่ใจลูกค้าทุกท่าน ไม่ว่าจะแจ้งฝาก-ถอน หรือแจ้งปัญหาการใช้งาน พร้อมระบบใหม่ แจ้งฝาก-ถอน อัตโนมัติปลอดภัย 24 ชั่วโมง </div>
            </div>
        </div>
    </div>
</div>
